@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url(navbar.css);
@import url(footer.css);
@import url(card.css);
@import url(content.css);

/* Universal CSS */

* {
    font-family: 'Karla', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 3em;
    margin: 30px 0 20px 0;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #F95700;
}

h2 {
    margin: 20px 0 15px 0;
    text-decoration: underline;
    text-decoration-color: #F95700;
    font-size: 2em;
}

h3 {
    text-decoration: underline;
    text-decoration-color: #F95700;
}

p {
    line-height: 1.5em;
}

em {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #F95700;
}

.button {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #F95700;
    height: 54px;
    font-size: 1.2em;
    padding: 0 2ch;
    border-radius: 1px;
    transition: .125s background-color ease-in-out;
}

.button i {
    font-size: 1.5em;
    padding-right: .66ch;
    vertical-align: middle;
    transition: all .25s ease-in-out;
}

.button:hover {
    background-color: #F95700;
}

.button:hover i {
    color: white !important;
}

.button span {
    display: inline-block;
    position: relative;
    transition: padding-right 0.25s ease-in-out, color 0.125s ease-in-out;
    height: 50px;
    line-height: 50px;
}

.button span:after {
    content: '\00bb';
    /*content: '🡢';*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    height: 50px;
    font-size: 1.5em;
    line-height: 50px;
    transition: all 0.25s ease-in-out;
    color: white;
}

.button:hover span {
    color: white;
    padding-right: 2.6ch;
}

.button:hover span:after {
    opacity: 1;
}

.links {
    list-style: none;
    padding: 0;
}

.links a {
    color: black;
    text-decoration: none;
    padding: 5px 0;
    display: block;
}

.links2 a {
    color: black;
    text-decoration: underline;
    padding: 5px 0;
    display: block;
    transition: .125s all ease-in-out;
}

.links2 a:hover {
    text-decoration-color:  #F95700;
}

.links a:hover {
    text-decoration: underline;
}

.textinput {
    border-radius: 3px 3px 0 0;
    width: 100%;
    padding: 12px;
    border: none;
    background: #F5F5F5;
    border-bottom: 3px solid #F95700;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.1em;
    transition: all .25s ease-in-out;
}

.textinput:hover {
    background: #DDD;
}

.textinput:focus {
    outline: none;
    background: #E5E5E5;
}

.large {
    font-size: 2em;
    margin: 0.5em 0;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.35
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.35
    }
    to {
        opacity: 1
    }
}
