.navbar {
    position: sticky;
    top: 0;
    font-size: 1.3em;
    height: 70px;
    background-color: white;
    color: #F95700;
    z-index: 50;
    border-bottom: 1px solid #e2e2e2;
}

.logo-img {
    height: 50px;
    padding: 10px;
    box-sizing: content-box;
}

@media (min-width: 1200px) {
    .collapsible {
        float: right;
        padding-right: 40px;
    }
    .navbar a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 0 20px;
        margin: 0;
        height: 70px;
        line-height: 70px;
        transition: all .25s ease-in-out;
    }
    .navbar a i {
        padding-right: 1ch;
        color: #F95700;
    }
    .navbar a:hover {
        background-color: #ECECEC;
        text-decoration: underline;

    }
    .navbar a:active {
        background-color: #ECECEC;
        text-decoration: underline;
        text-decoration-color: #F95700;
    }
    .navbar a.active {
        background-color: #ECECEC;
        text-decoration: underline;
        text-decoration-color: #F95700;
    }
}

@media (max-width: 1200px) {
    .collapsible {
        display: none;
    }
}