@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url(navbar.css);
@import url(slideshow.css);
@import url(countdown.css);
@import url(footer.css);
/* Universal CSS */

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-size: 3em;
    margin: 30px 0 20px 0;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #F95700;
}

h2 {
    margin: 20px 0 10px 0;
    text-decoration: underline;
    text-decoration-color: #F95700;
    font-size: 2em;
}

h3 {
    text-decoration: underline;
    text-decoration-color: #F95700;
}

p {
    line-height: 1.5em;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    min-height: 25vh;
    margin: 10vh 0;
}

.card p {
    font-size: 1.1em;
}

.card>* {
    display: block;
    margin: 0 2.5vw;
}

.card .sidetext {
    width: 25vw;
}

.card .image {
    max-width: 50vw;
    max-height: 50vw;
}

.button {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #F95700;
    height: 50px;
    font-size: 1.2em;
    padding: 0 1ch;
}

.button:hover {
    background-color: #F95700;
    color: white;
}
.button span {
    display: inline-block;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;

    transition: all 0.25s ease-in-out;
}

.button:hover span {
    padding-right: 3ch;
}

.button:hover span:after {
    padding: 0 1ch;
    opacity: 1;
    right: 0;
}

.content {
    margin: auto;
    max-width: 800px;
    padding: 20px;
}

.links {
    list-style: none;
    padding: 0;
}

.links a {
    color: black;
    text-decoration: none;
    padding: 5px 0;
    display: block;
}

.links a:hover {
    text-decoration: underline;
}

