@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url(navbar.css);
@import url(slideshow.css);
@import url(countdown.css);
/* Universal CSS */

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-size: 3em;
    margin: 20px 10px;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    margin: 10px;
    font-weight: normal;
}
